rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    match /users/{userId}{
    	allow read: if request.auth != null && (
            request.auth.uid == userId 
            || request.auth.token.role == 'admin' 
            || request.auth.token.role == 'superadmin' 
            );
      allow create: 
      	if request.auth != null
        && request.auth.uid == userId;
      allow update, delete: 
      	if request.auth != null 
        && request.auth.uid == userId;
    }

    match /applications/{appId}{
        allow read: if request.auth != null;
        allow create:
            if request.auth != null
            && request.auth.token.role == 'user';
        allow update, delete:
            if request.auth != null
            && request.auth.token.role == 'superadmin';
    }
    
    match /users/{userId}/recommendations/{recoId}{
    	allow read: 
      	if request.auth != null 
        && request.auth.uid == userId;
        
      allow create, update:
      	if request.auth != null 
        && request.auth.token.role == 'superadmin';
    }
    
    match /payments/{paymentId}{
    	allow read, create: 
            if request.auth != null;
    }
    
    match /users/{userId}/bookings/{bookingId}{
    	allow read: 
      	    if request.auth != null;
        allow create: 
      	    if request.auth != null
            && request.auth.uid == userId;
        allow update, delete: 
      	    if request.auth != null 
            && request.auth.uid == userId;
    }
    
    match /businesses/{businessId} {
    	allow read: if request.auth != null;
        allow create, delete: 
            if request.auth != null 
            && request.auth.token.role == 'superadmin';
        allow update:
            if request.auth != null 
            && (
                    (
                        request.auth.token.role == 'admin' 
                        && 
                        (request.auth.token.businessId == businessId || request.auth.token.owner == businessId)
                    )
                    ||
                    request.auth.token.role == 'superadmin'
            ) 
    }
    
    match /businesses/{businessId}/admins/{adminId} {
    	allow read: if request.auth != null;
        allow create, delete: 
            if request.auth != null 
            && request.auth.token.role == 'superadmin';
        allow update:
            if request.auth != null 
            && (
                    (
                        request.auth.token.role == 'admin' 
                        && 
                        (request.auth.token.businessId == businessId || request.auth.token.owner == businessId)
                    )
                    ||
                    request.auth.token.role == 'superadmin'
            ) 
    }
    
    match /businesses/{businessId}/offers/{offerId} {
    	allow read: if request.auth != null;
        allow create, delete: 
            if request.auth != null 
            && request.auth.token.role == 'admin'
            && (request.auth.token.businessId == businessId || request.auth.token.owner == businessId);
        allow update:
            if request.auth != null 
            && request.auth.token.role == 'admin' 
            && (request.auth.token.businessId == businessId || request.auth.token.owner == businessId)
    }
    
    match /{path=**}/offers/{offerId} {
    	allow read: if request.auth != null;
        allow create, delete: 
            if request.auth != null 
            && request.auth.token.role == 'admin';
        allow update:
            if request.auth != null 
            && request.auth.token.role == 'admin';
    }

    match /mountain/{mountainId} {
    	allow read: if request.auth != null;
      allow create, update, delete: 
      	if request.auth != null
        && request.auth.token.role == 'superadmin';
    }
    
    match /offers/{offerId} {
	    allow read: if request.auth != null;
      
  	  allow create:
    		if request.auth != null
        && 
        (
        	request.auth.token.role == 'superadmin' || 
          (
          	request.auth.token.role == 'admin'
         		&& request.auth.token.businessId == request.resource.data.businessId   
          )
				)
        
      allow update, delete:
    		if request.auth != null
        && 
        (
        	request.auth.token.role == 'superadmin' || 
          (
          	request.auth.token.role == 'admin'
         		&& request.auth.token.businessId == resource.data.businessId   
          )
				)
    }
    
    match /mountains/{mountainId} {
        allow read: if request.auth != null;
        allow write, delete: if request.auth != null && request.auth.token.role == 'superadmin'
    }

    match /province/{provinceId} {
    	allow read: if request.auth != null;
      allow create, update, delete:
      	if request.auth != null
        && request.auth.token.role == 'superadmin'
    }
    
    match /trails/{trailId}{
    	allow read: if request.auth != null;
      allow create, update, delete:
      	if request.auth != null
        && request.auth.token.role == 'superadmin'
    }

    match /receipts/{receiptId}{
        allow read, create: if request.auth != null;
    }  
  }
}